[%% ===========================================
 %% vectorcore_aaa standalone config
 %% ===========================================
 {vectorcore_aaa,
  [{diameter,
    [{origin_host, "aaa.epc.mnc435.mcc311.3gppnetwork.org"},
     {origin_realm, "epc.mnc435.mcc311.3gppnetwork.org"},
     {vendor_id, 0},
     {listen_ip, "10.90.250.186"},
     {listen_port, 3868},
     {proto, sctp},
     {connect_timer, 30000},
     {watchdog_timer, 30000},
     {watchdog_config, [{okay, 3}, {suspect, 1}]},
     {apps, [swm, s6b, swx, sta]},
     {peers, [
       %% Example DRA carrying all enabled applications. The DRA advertises relay in CER/CEA.
        {dra01, [{host, "dra01.epc.mnc435.mcc311.3gppnetwork.org"}, {ip, "10.90.250.35"}, {port, 3868}, {connect, true}, {apps, [swm, s6b, swx, sta]}]}
       %% Direct-peer examples:
       %% {epdg01, [{host, "10.90.250.186"}, {apps, [swm]}]},
       %% {pgw01, [{host, "10.90.250.20"}, {apps, [s6b]}]},
       %% {hss01, [{host, "127.0.0.1"}, {port, 3868}, {connect, true}, {apps, [swx]}]}
     ]}
    ]},
   {eap_aka_prime_network_name, "wlan.mnc435.mcc311.3gppnetwork.org"}
  ]},
 %% ===========================================
 %% Lager logging config
 %% ===========================================
  {lager, [
    {log_root, "log"},
    {colored, true},
    {handlers,
      [{lager_console_backend, [{level, debug}]},
      {lager_file_backend,
        [{file, "console.log"}, {level, debug}, {size, 104857600}, {date, "$D0"}, {count, 10}]},
      {lager_file_backend,
        [{file, "error.log"}, {level, error}, {size, 104857600}, {date, "$D0"}, {count, 10}]}]},
    {crash_log, "crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 104857600},
    {crash_log_date, "$D0"},
    {crash_log_count, 10},
    {error_logger_redirect, true}
  ]},
  {kernel, [
   {logger, [{handler, debug, logger_std_h,
              #{config => #{file => "log/erlang.log"}}
            }]
    }
  ]}
].
